html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    line-height: normal;
    color: $black;
    font-family: "Roboto";
    font-size: 18px;

    @media (max-width: 1024px) {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

h1 {
    text-transform: uppercase;
    @include adaptive-value("font-size", 50, 32, 1);
}

h2 {
    @include adaptive-value("font-size", 36, 24, 1);
}

h3 {
    @include adaptive-value("font-size", 28, 20, 1);
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: 600;
}

h4,
h5,
h5 {
    @include adaptive-value("font-size", 24, 16, 1);
}

p {
    font-weight: 300;

    strong,
    b {
        font-weight: 600;
    }
}

figure,
img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
}

._btn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    padding: 1em 2em;
    color: #000;
    background-color: $accent;
    font-weight: 500;
    @include adaptive-value("font-size", 18, 14, 1);

    // ._btn-black

    &-black {
        color: #fff;
        background-color: $black;
        border-radius: 0;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    cursor: pointer;
}

.select {
    position: relative;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        pointer-events: none;
    }
}
