form {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
        border-bottom: 2px solid #999999;
        resize: none;
        margin-bottom: 25px;
        font-weight: 300;
        @include adaptive-value("font-size", 16, 14, 1);
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        @include adaptive-value("height", 60, 45, 1);
    }

    textarea {
        @include adaptive-value("height", 120, 90, 1);
    }

    label {
        @include adaptive-value("font-size", 15, 12, 1);
        font-weight: 300;
        display: flex;
        align-items: center;
        cursor: pointer;

        .wpcf7-form-control {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            height: 20px;
            width: 20px;
            margin-right: 10px;

            border: 2px solid $black;

            opacity: 0.6;
            transition: all 0.3s ease 0s;

            &:before {
                content: "";
                width: 6px;
                height: 12px;
                border: solid #000;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                margin-top: -2px;
                flex: 0 0 auto;

                opacity: 0;
                transition: all 0.3s ease 0s;
            }
        }

        .wpcf7-list-item {
            display: none;
        }

        input {
            visibility: hidden;
            position: absolute;
        }

        &:has(input:checked) {
            .wpcf7-form-control {
                opacity: 1;

                &:before {
                    opacity: 1;
                }
            }
        }

        a {
            color: $accent;
            text-decoration: underline;
        }
    }

    ._btn {
        margin-top: 25px;
        cursor: pointer;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &._sending {
        pointer-events: none;
    }
}

.form__input {
    &._error {
        input,
        textarea,
        label,
        label .icon {
            border-color: red;
            color: red;

            &::placeholder {
                color: red;
            }
        }
    }
}

.wpcf7-response-output {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 16;
    width: 100%;
    max-width: 560px;
    background-color: #fff;
    @include adaptive-value("font-size", 24, 16, 1);
    font-weight: 500;
    text-align: center;
    padding: 0.5em 1em !important;
    margin: 0 !important;
    border: 0 !important;

    transform: translate(-50%, 101%);
    pointer-events: none;
    transition: all 0.3s ease 0s;
    display: block !important;

    &._sent {
        transform: translate(-50%, 0);
        pointer-events: all;
        color: $accent;
    }

    &._req {
        transform: translate(-50%, 0);
        pointer-events: all;
        color: red;
    }

    &._error {
        transform: translate(-50%, 0);
        pointer-events: all;
        color: red;
    }
}
